@import "../../styles/theme";

.ad {
  position: relative;

  &:not(:last-child) {
    margin-bottom: var(--spacing);
  }

  &[data-full-width-responsive="true"] {
    margin-left: calc(var(--spacing) * -1);
    margin-right: calc(var(--spacing) * -1);

    @media (min-width: map-get($breakpoints, "sm")) {
      margin-left: unset;
      margin-right: unset;
    }
  }

  &[data-ad-status="unfilled"]:not(.dummy):not(.local) {
    display: none !important;
  }

  &[data-ad-status="filled"] {
    margin-top: calc(var(--spacing) * 2.5);

    &::before {
      position: absolute;
      top: calc(var(--spacing) * -1.5);
      content: attr(data-label);
      font-size: var(--font-small-size);
      text-transform: uppercase;
      color: var(--muted-color);
    }
  }

  &:empty {
    background-color: var(--muted-background-color);
    border-radius: var(--border-radius);
    min-height: 3em;

    &::after {
      position: absolute;
      vertical-align: middle;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: "Loading advertisement...";
    }
  }
}

.local {
  background-color: var(--primary-focus);
  border-radius: var(--border-radius);

  &::after {
    content: "Not showing advertisements locally (" attr(data-render-id) ")";
    vertical-align: middle;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.dummy {
  &,
  &:empty {
    background-color: var(--primary-focus);
    border-radius: var(--border-radius);
  }

  &::after,
  &:empty::after {
    content: "Dummy advertisement (" attr(data-render-id) ")";
    vertical-align: middle;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
