button,
a[role="button"] {
  display: inline-block;
  padding: calc(var(--spacing) * 0.75) calc(var(--spacing) * 1.5);

  font-family: var(--font-text) sans-serif;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  font-style: normal;

  background-color: var(--primary);
  color: var(--primary-inverse);
  border: none;
  border-radius: var(--border-radius);

  transition:
    background-color var(--transition),
    color var(--transition);

  &:is([aria-current], :hover, :active, :focus) {
    background-color: var(--primary-hover);
    text-decoration: underline;
  }

  &:focus {
    background-color: var(--primary-focus);
  }

  // Warning
  &.warning {
    background-color: var(--warning);
    color: var(--warning-inverse);

    &:is([aria-current], :hover, :active, :focus) {
      outline-color: var(--warning);
      background-color: var(--warning-hover);
    }

    &:focus {
      color: var(--warning);
      background-color: var(--warning-focus);
    }
  }

  // Muted
  &.muted {
    background-color: var(--muted-color);
    color: var(--muted-inverse-color);

    &:is([aria-current], :hover, :active, :focus) {
      outline-color: var(--muted-color);
      background-color: var(--muted-hover);
    }

    &:focus {
      color: var(--muted-color);
      background-color: var(--muted-focus);
    }
  }
}
