button,
a[role="button"] {
  display: inline-block;
  padding: calc(var(--spacing) * 0.75) calc(var(--spacing) * 1.5);
  background-color: var(--primary);
  color: var(--primary-inverse);
  border-radius: var(--border-radius);

  transition: background-color var(--transition);

  &:is([aria-current], :hover, :active, :focus) {
    background-color: var(--primary-hover);
  }

  &:focus {
    background-color: var(--primary-focus);
  }

  // Warning
  &.warning {
    background-color: var(--warning);
    color: var(--warning-inverse);

    &:is([aria-current], :hover, :active, :focus) {
      outline-color: var(--warning);
      background-color: var(--warning-hover);
    }

    &:focus {
      color: var(--warning);
      background-color: var(--warning-focus);
    }
  }
}
