@import "../../styles/theme";

.browserList {
  counter-reset: item;
  padding-left: 0;

  @media (min-width: map-get($breakpoints, "md")) {
    padding-left: 3rem;
  }
}

.listItem {
  display: flex;
  position: relative;
  counter-increment: item;
  list-style: none;
  padding: var(--spacing);
  border-radius: var(--border-radius);
  transition: background-color var(--transition);

  &::before {
    display: block;
    padding-right: calc(var(--spacing) * 0.5);

    content: counter(item);
    color: var(--support);
    font-size: calc(var(--font-h2-size));
    font-weight: var(--font-weight-bold);

    @media (min-width: map-get($breakpoints, "md")) {
      position: absolute;
      width: 3rem;
      left: -3rem;
      padding-right: 0;

      font-size: calc(var(--font-h1-size) * 1.5);
    }
  }

  &:not(:last-child) {
    margin-bottom: var(--spacing);
  }

  &:hover {
    background-color: var(--muted-background-color);

    // hacky way to target TagList
    .browserInfo > ul > li > a:not([aria-current]) {
      background-color: var(--muted-focus);
    }
  }
}

.icon {
  margin-right: var(--spacing);
  display: none;

  @media (min-width: map-get($breakpoints, "md")) {
    display: unset;
  }
}

.inlineIcon {
  vertical-align: middle;
  margin-right: calc(var(--spacing) * 0.5);

  @media (min-width: map-get($breakpoints, "md")) {
    display: none;
  }
}

.browserInfo {
}

.itemHeading {
}
