@import "../../styles/theme";

@mixin reset-margin {
  &:not(:nth-child(1n)) {
    margin-right: 0;
  }

  &:not(:nth-child(2n)) {
    margin-right: 0;
  }

  &:not(:nth-child(3n)) {
    margin-right: 0;
  }

  &:not(:nth-child(4n)) {
    margin-right: 0;
  }

  &:not(:nth-child(5n)) {
    margin-right: 0;
  }
}

.browserlist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: calc(var(--line-height) * 1em);
}

.showReleasesForAllOses {
  display: none;

  @media (min-width: map-get($breakpoints, "md")) {
    display: initial;
  }
}

.heading {
  margin-right: var(--spacing);

  &:not(:last-child) {
    margin-bottom: 0;
  }
}

.listItem {
  display: block;
  margin-bottom: var(--spacing);
  float: left;

  height: 14rem;
  width: calc(
    (100% / map-get($list-columns, "xs")) - var(--spacing) +
      calc(var(--spacing) / map-get($list-columns, "xs"))
  );

  &:not(:nth-child(#{map-get($list-columns, "xs")}n)) {
    margin-right: var(--spacing);
  }

  @media (min-width: map-get($breakpoints, "sm")) {
    height: 15rem;
    width: calc(
      (100% / map-get($list-columns, "sm")) - var(--spacing) +
        calc(var(--spacing) / map-get($list-columns, "sm"))
    );

    @include reset-margin;

    &:not(:nth-child(#{map-get($list-columns, "sm")}n)) {
      margin-right: var(--spacing);
    }
  }

  @media (min-width: map-get($breakpoints, "md")) {
    height: 15.5rem;
    width: calc(
      (100% / map-get($list-columns, "md")) - var(--spacing) +
        calc(var(--spacing) / map-get($list-columns, "md"))
    );

    @include reset-margin;

    &:not(:nth-child(#{map-get($list-columns, "md")}n)) {
      margin-right: var(--spacing);
    }
  }

  @media (min-width: map-get($breakpoints, "lg")) {
    height: 16rem;
    width: calc(
      (100% / map-get($list-columns, "lg")) - var(--spacing) +
        calc(var(--spacing) / map-get($list-columns, "lg"))
    );

    @include reset-margin;

    &:not(:nth-child(#{map-get($list-columns, "lg")}n)) {
      margin-right: var(--spacing);
    }
  }

  @media (min-width: map-get($breakpoints, "xl")) {
    height: 17.5rem;
    width: calc(
      (100% / map-get($list-columns, "xl")) - var(--spacing) +
        calc(var(--spacing) / map-get($list-columns, "xl"))
    );

    @include reset-margin;

    &:not(:nth-child(#{map-get($list-columns, "xl")}n)) {
      margin-right: var(--spacing);
    }
  }
}

.link {
  height: 100%;
  overflow: hidden;

  display: flex;
  align-items: stretch;
  flex-direction: column;

  border: var(--border-width) solid var(--muted-border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  transition:
    border-color var(--transition),
    background-color var(--transition),
    color var(--transition);

  &:is([aria-current], :hover, :active, :focus) {
    border-color: var(--border-color);
    color: var(--contrast-hover);
    text-decoration: none;
    background-color: var(--muted-border-color);
  }

  &:focus {
    background-color: var(--background-color);
  }

  &[aria-current] {
    outline: 3px solid var(--support);
    border: none;
  }
}

.linkUpdateAvailable[aria-current] {
  outline-color: var(--warning);
}

.browserInfo {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: var(--spacing);
}

.itemHeading {
  height: 1em;
}

.description {
  display: block;
  text-align: center;
  height: calc(var(--line-height) * 2em);
  color: var(--muted-color);
  overflow: hidden;
}

.img {
  margin-bottom: var(--spacing);
  width: 5rem;
  height: 5rem;
}

.spacer {
  flex-grow: 1;
}

.version {
  display: block;
  padding: var(--spacing);
  text-align: center;
  background-color: var(--muted-border-color);
  color: var(--muted-color);
}

.versionUpdateAvailable {
  background-color: var(--warning);
  color: var(--warning-inverse);
}

.versionLatest {
  background-color: var(--support);
  color: var(--support-inverse);
}

.clearFloat {
  display: block;
  clear: both;
}
