@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #{mix($black, $grey-900, 37.5%)};

    // Layout
    --border-color: #{$grey-400};
    --box-shadow: 0 0.125rem 1rem 4px #{rgba($grey-300, 0.075)};

    // Texts colors
    --color: #{$grey-200};
    --h1-color: #{$grey-50};
    --h2-color: #{mix($grey-100, $grey-50)};
    --h3-color: #{$grey-100};

    // Muted colors
    --muted-color: #{$grey-500};
    --muted-inverse: #{$white};
    --muted-border-color: #{mix($grey-900, $grey-800, 75%)};

    // Primary colors
    --primary: #{$primary-600};
    --primary-hover: #{$primary-500};
    --primary-focus: #{rgba($primary-600, 0.25)};
    --primary-inverse: #{$white};

    // Support colors
    --support: #{$green-400};
    --support-inverse: #{$grey-900};

    // Warning colors
    --warning: #{$amber-500};
    --warning-inverse: #{$grey-800};

    // Secondary colors
    --secondary: #{$grey-600};
    --secondary-hover: #{$grey-500};
    --secondary-focus: #{rgba($grey-500, 0.25)};
    --secondary-inverse: #{$white};

    // Contrast colors
    --contrast: #{$grey-50};
    --contrast-hover: #{$white};
    --contrast-focus: #{rgba($grey-500, 0.25)};
    --contrast-inverse: #{$black};
  }
}
