:root {
  // Typography
  --line-height: 1.4;
  --font-weight: 400;
  --font-weight-bold: 600;

  // Borders
  --border-radius: 0.5rem;
  --border-width: 1px;
  --outline-width: 3px;

  // Spacings
  --spacing: 1rem;

  // Transitions
  --transition: 0.2s ease-in-out;

  // Typography
  --font-size: 16px;
  --font-h1-size: 24px;
  --font-h2-size: 22px;
  --font-h3-size: 20px;
  --font-small-size: 14px;

  // Responsive
  @media (min-width: map-get($breakpoints, "xl")) {
    --spacing: 1rem;

    --font-size: 17px;
    --font-h1-size: 32px;
    --font-h2-size: 28px;
    --font-h3-size: 24px;
    --font-small-size: 15px;
  }

  @media (min-width: map-get($breakpoints, "lg")) {
    --spacing: 1rem;

    --font-size: 16px;
    --font-h1-size: 30px;
    --font-h2-size: 26px;
    --font-h3-size: 22px;
    --font-small-size: 15px;
  }

  @media (min-width: map-get($breakpoints, "md")) {
    --spacing: 1rem;

    --font-size: 16px;
    --font-h1-size: 28px;
    --font-h2-size: 25px;
    --font-h3-size: 22px;
    --font-small-size: 14px;
  }

  @media (min-width: map-get($breakpoints, "sm")) {
    --spacing: 1rem;

    --font-size: 16px;
    --font-h1-size: 26px;
    --font-h2-size: 24px;
    --font-h3-size: 22px;
    --font-small-size: 14px;
  }
}
