@import "../../styles/theme";

@mixin reset-margin {
  &:not(:nth-child(1n)) {
    margin-right: 0;
  }

  &:not(:nth-child(2n)) {
    margin-right: 0;
  }

  &:not(:nth-child(3n)) {
    margin-right: 0;
  }

  &:not(:nth-child(4n)) {
    margin-right: 0;
  }

  &:not(:nth-child(5n)) {
    margin-right: 0;
  }
}

.browserGrid {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gridItem {
  display: block;
  margin-bottom: var(--spacing);
  float: left;

  height: 17rem;
  width: calc(
    (100% / map-get($list-columns, "xs")) - var(--spacing) +
      calc(var(--spacing) / map-get($list-columns, "xs"))
  );

  &:not(:nth-child(#{map-get($list-columns, "xs")}n)) {
    margin-right: var(--spacing);
  }

  @media (min-width: map-get($breakpoints, "sm")) {
    width: calc(
      (100% / map-get($list-columns, "sm")) - var(--spacing) +
        calc(var(--spacing) / map-get($list-columns, "sm"))
    );

    @include reset-margin;

    &:not(:nth-child(#{map-get($list-columns, "sm")}n)) {
      margin-right: var(--spacing);
    }
  }

  @media (min-width: map-get($breakpoints, "md")) {
    width: calc(
      (100% / map-get($list-columns, "md")) - var(--spacing) +
        calc(var(--spacing) / map-get($list-columns, "md"))
    );

    @include reset-margin;

    &:not(:nth-child(#{map-get($list-columns, "md")}n)) {
      margin-right: var(--spacing);
    }
  }

  @media (min-width: map-get($breakpoints, "lg")) {
    width: calc(
      (100% / map-get($list-columns, "lg")) - var(--spacing) +
        calc(var(--spacing) / map-get($list-columns, "lg"))
    );

    @include reset-margin;

    &:not(:nth-child(#{map-get($list-columns, "lg")}n)) {
      margin-right: var(--spacing);
    }
  }

  @media (min-width: map-get($breakpoints, "xl")) {
    width: calc(
      (100% / map-get($list-columns, "xl")) - var(--spacing) +
        calc(var(--spacing) / map-get($list-columns, "xl"))
    );

    @include reset-margin;

    &:not(:nth-child(#{map-get($list-columns, "xl")}n)) {
      margin-right: var(--spacing);
    }
  }
}

.clearFloat {
  display: block;
  clear: both;
}
