@import "../../styles/theme";

.browserAlternatives {
  background-color: var(--muted-background-color);
  border-radius: var(--border-radius);
}

.heading {
  padding: var(--spacing) var(--spacing) 0 var(--spacing);
}

.list {
  padding-bottom: var(--spacing);
}

.alternativeBrowser {
  padding: var(--spacing);
  display: block;

  &:hover {
    background-color: var(--background-color);
    text-decoration: none;

    [role="rowheader"] {
      text-decoration: underline;
    }
  }
}

.img {
  vertical-align: sub;
  padding-right: calc(var(--spacing) * 0.6);
}

.description {
  text-decoration: none;
  color: var(--muted-color);
}
