@import "../../styles/theme";

.browserAlternatives {
  float: right;
  padding: var(--spacing);
  margin: 0 0 calc(var(--spacing) * 2) calc(var(--spacing) * 2);
  background-color: var(--muted-border-color);
  border-radius: var(--border-radius);
  width: 25vw;
}

.alternativeBrowser {
  &:not(:last-child) {
    margin-bottom: var(--spacing);
    padding-bottom: var(--spacing);
    border-bottom: var(--border-width) dashed var(--muted-color);
  }
}

.link {
  display: block;

  &:hover {
    text-decoration: none;

    [role="rowheader"] {
      text-decoration: underline;
    }
  }
}

.img {
  vertical-align: sub;
  padding-right: calc(var(--spacing) * 0.6);
}

.description {
  text-decoration: none;
  color: var(--muted-color);
}
