@import "../../styles/theme";

.link {
  height: 100%;
  overflow: hidden;

  display: flex;
  align-items: stretch;
  flex-direction: column;

  border: var(--border-width) solid var(--muted-border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  transition:
    border-color var(--transition),
    background-color var(--transition),
    color var(--transition);

  &:is(:hover, :active, :focus) {
    border-color: var(--border-color);
    color: var(--contrast-hover);
    text-decoration: none;
    background-color: var(--muted-background-color);
  }

  &:focus {
    background-color: var(--background-color);
  }

  &[aria-current] {
    text-decoration: none;
    outline: var(--outline-width) solid var(--support);
    border: none;
  }
}

.linkUpdateAvailable[aria-current] {
  outline-color: var(--warning);
}

.browserInfo {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: var(--spacing);
}

.medium,
.small {
  justify-content: flex-end;
  flex-direction: row-reverse;

  img {
    margin-right: calc(var(--spacing) * 0.5);
  }
}

.small {
  h3 {
    font-size: var(--font-size);
  }
}

.itemHeading {
  &:not(:last-child) {
    margin-bottom: 0;
  }
}

.description {
  display: block;
  text-align: center;
  height: calc(var(--line-height) * 2em);
  color: var(--muted-color);
  overflow: hidden;
}

.spacer {
  flex-grow: 1;
}

.version {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 var(--spacing);
  line-height: 3.5rem;

  background-color: var(--muted-background-color);
  color: var(--muted-inverse);
}

.label {
  text-transform: uppercase;
  font-size: var(--font-small-size);
  color: var(--muted-inverse);

  &:not(:last-child) {
    margin-right: var(--spacing);
  }
}

.stat {
  font-size: var(--font-h3-size);
}

.versionUpdateAvailable {
  background-color: var(--warning);
  color: var(--warning-inverse);
}

.versionLatest {
  background-color: var(--support);
  color: var(--support-inverse);
}
