@import "../../styles/theme";

.header {
  background-color: var(--muted-border-color);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: calc(var(--spacing) * 1);
}

.leftPart {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: var(--spacing);
  height: var(--font-h1-size);
  width: auto;
}

.heading {
  margin-right: var(--spacing);
  background-color: var(--muted-border-color);
  z-index: 1;

  &:not(:last-child) {
    margin-bottom: 0;
  }
}

.subHeading {
  display: none;
  color: var(--support);
  font-size: var(--font-h1-size);

  @media (min-width: map-get($breakpoints, "sm")) {
    display: initial;
  }
}

.languageSwitcher {
  display: none;

  @media (min-width: map-get($breakpoints, "lg")) {
    display: initial;
  }
}
