@import "../../../styles/theme";

.img {
  vertical-align: sub;
  padding-right: calc(var(--spacing) * 0.6);
  height: 1.2em;
  width: 1.2em;
}

.vendor {
  color: var(--muted-color);
}

.alternativesSidebar {
  float: right;
  padding: var(--spacing);
  background-color: var(--muted-border-color);
  border-radius: var(--border-radius);
}

.sourceLink {
  color: var(--muted-color);
  font-size: var(--font-small-size);
}
