@import "../../styles/theme";

.excerpt {
  font-size: var(--font-large-size);
}

.img {
  vertical-align: sub;
  padding: 0 calc(var(--spacing) * 0.6);

  &:first-child {
    padding-left: 0;
  }
}

.vendor {
  color: var(--muted-color);
  display: none;

  @media (min-width: map-get($breakpoints, "sm")) {
    display: initial;
  }
}

.columns {
  display: flex;
  flex-direction: column;

  @media (min-width: map-get($breakpoints, "md")) {
    flex-direction: row;
    align-items: flex-start;

    > *:nth-child(2) {
      margin: 0 0 calc(var(--spacing) * 2) calc(var(--spacing) * 2);
      min-width: 20rem;
    }
  }
}
