@import "../../styles/theme";

.nav {
  background-color: var(--primary);
}

.link {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: var(--spacing);
  color: var(--primary-inverse);

  &:is([aria-current], :hover, :active, :focus) {
    background-color: var(--muted-border-color);
    color: var(--contrast-hover);
  }

  &:is(:focus, :active) {
    z-index: 2;
  }

  &:focus {
    background-color: var(--background-color);
  }

  &[aria-current] {
    background-color: var(--background-color);
  }
}

.textBrowser {
  display: none;

  @media (min-width: map-get($breakpoints, "md")) {
    display: initial;
  }
}
