@import "../../styles/theme";

.nav {
  background-color: var(--muted-background-color);
}

.container {
  // !important due to bug with container padding from loading.tsx taking precedence
  padding: calc(var(--spacing) * 0.5) !important;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.crumb {
  display: inline-block;
  margin: 0;

  &:not(:last-child) {
    &::after {
      display: inline-block;
      position: relative;
      width: calc(var(--spacing) * 2);
      content: "/";
      color: var(--muted-color);
      text-align: center;
    }
  }
}
