@import "../../styles/theme";

.nav {
  background-color: var(--muted-background-color);
}

.container {
  // !important due to bug with container padding from loading.tsx taking precedence
  padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 1) !important;
  overflow: hidden;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.crumb {
  margin: 0;
  position: relative;
  display: inline-block;
  white-space: nowrap;

  &:not(:last-child) {
    &::after {
      display: inline-block;
      position: relative;
      padding: 0 calc(var(--spacing) * 0.4);
      content: "/";
      color: var(--muted-color);
      text-align: center;

      @media (min-width: map-get($breakpoints, "md")) {
        padding: 0 calc(var(--spacing) * 0.8);
      }
    }
  }

  &:nth-last-child(4),
  &:nth-last-child(3) {
    a {
      visibility: hidden;
      display: inline-block;
      width: 0;
    }

    &::before {
      content: "...";
    }
  }

  @media (min-width: map-get($breakpoints, "sm")) {
    &:nth-last-child(4),
    &:nth-last-child(3) {
      a {
        visibility: visible;
        width: auto;
      }

      &::before {
        content: "";
      }
    }
  }
}
