:root {
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  font-style: normal;
}

address,
blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
  margin-top: 0;

  &:not(:last-child) {
    margin-bottom: var(--spacing);
  }
}

a,
[role="link"] {
  outline: none;
  background-color: transparent;
  color: var(--primary);
  text-decoration: none;

  transition:
    background-color var(--transition),
    color var(--transition);

  &:is([aria-current], :hover, :active, :focus) {
    color: var(--primary-hover);
    text-decoration: underline;
  }

  &:focus {
    background-color: var(--primary-focus);
  }

  // Secondary
  &.secondary {
    color: var(--secondary);

    &:is([aria-current], :hover, :active, :focus) {
      color: var(--secondary-hover);
    }

    &:focus {
      background-color: var(--secondary-focus);
    }
  }

  // Contrast
  &.contrast {
    color: var(--contrast);

    &:is([aria-current], :hover, :active, :focus) {
      color: var(--contrast-hover);
    }

    &:focus {
      background-color: var(--contrast-focus);
    }
  }
}

// Headings
h1,
h2,
h3 {
  margin-top: 0;
  font-weight: var(--font-weight-bold);

  &:not(:last-child) {
    margin-bottom: var(--spacing);
  }
}

h1 {
  color: var(--h1-color);
  font-size: var(--font-h1-size);
}

h2 {
  color: var(--h2-color);
  font-size: var(--font-h2-size);
}

h3 {
  color: var(--h3-color);
  font-size: var(--font-h3-size);
}

// Small
small {
  font-size: var(--font-small-size);
}

// Bold
strong,
b {
  font-weight: var(--font-weight-bold);
}

// Lists
dl,
ol,
ul {
  padding-right: 0;
  padding-left: var(--spacing);
  padding-inline-start: var(--spacing);
  padding-inline-end: 0;

  li {
    margin-bottom: calc(var(--spacing) * 0.25);
  }
}

// Margin-top for nested lists
dl,
ol,
ul {
  dl,
  ol,
  ul {
    margin: 0;
    margin-top: calc(var(--spacing) * 0.25);
  }
}

ul li {
  list-style: square;
}

// Focus
a,
button,
select,
input,
textarea {
  &:is(:focus, :active) {
    outline: var(--outline-width) solid var(--support);
    border-radius: var(--border-radius);
  }
}

// Article
article {
  margin: 0 auto calc(var(--spacing) * 2) auto;
  max-width: 45rem;
}

// Section
section {
  margin-bottom: calc(var(--spacing) * 2);
}

// Ruler
hr {
  margin-top: calc(var(--spacing) * 1);
  margin-bottom: calc(var(--spacing) * 1);
  border: 0;
  border-top: var(--border-width) solid var(--border-color);
}

// Pre
pre {
  overflow-y: auto;

  padding: var(--spacing);
  margin-bottom: calc(var(--spacing) * 2);

  border: var(--border-width) solid var(--muted-border-color);
  border-radius: var(--border-radius);
  background-color: var(--muted-background-color);
}
