@import "../../styles/theme";

.footer {
  background-color: var(--muted-background-color);
}

.improve {
  border-top: var(--border-size) solid var(--muted-border-color);
}

.improveContainer {
  // !important due to bug with container padding from loading.tsx taking precedence
  padding: var(--spacing) calc(var(--spacing) * 2) !important;

  color: var(--muted-color);
}

.improveLink {
  text-decoration: underline;
}

.header {
  // !important due to bug with container padding from loading.tsx taking precedence
  padding: var(--spacing) calc(var(--spacing) * 2) !important;

  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;

  @media (min-width: map-get($breakpoints, "sm")) {
    flex-direction: row;
  }
}

.links {
  display: flex;
  flex-direction: column;

  > *:not(:last-child) {
    margin-bottom: calc(var(--spacing) * 1);
  }

  @media (min-width: map-get($breakpoints, "lg")) {
    flex-direction: row;

    > *:not(:last-child) {
      margin-bottom: 0;
      margin-right: calc(var(--spacing) * 5);
    }
  }
}

.copyright {
  line-height: 2rem;
}

.muted {
  color: var(--muted-color);
}
