@import "../../styles/theme";

.footer {
  background-color: var(--muted-background-color);
}

.improve {
  border-top: var(--border-size) solid var(--muted-border-color);
}

.improveContainer {
  // !important due to bug with container padding from loading.tsx taking precedence
  padding: var(--spacing) !important;

  color: var(--muted-color);
}

.improveLink {
  text-decoration: underline;
}

.header {
  // !important due to bug with container padding from loading.tsx taking precedence
  padding: var(--spacing) !important;

  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;

  @media (min-width: map-get($breakpoints, "sm")) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.copyright {
  line-height: 2rem;
  margin-top: calc(var(--spacing) * 2);

  span,
  a {
    margin-right: var(--spacing);
  }

  a {
    color: var(--muted-color);
  }

  @media (min-width: map-get($breakpoints, "sm")) {
    margin-top: 0;
  }
}

.copyrightBreak {
  @media (min-width: map-get($breakpoints, "lg")) {
    display: none;
  }
}

.links {
  display: flex;
  flex-direction: column;

  > *:not(:last-child) {
    margin-bottom: calc(var(--spacing) * 1);
  }

  @media (min-width: map-get($breakpoints, "lg")) {
    flex-direction: row;

    > *:not(:last-child) {
      margin-bottom: 0;
      margin-right: calc(var(--spacing) * 5);
    }
  }
}

.muted {
  color: var(--muted-color);
}
